{% extends "base.html" %}
{% block content %}
		<section class="bg-primary" id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<h2 class="section-heading">We've got what you need!</h2>
						<hr class="light">
						<p class="text-faded">
							Search goods online? Have problems to name and locate what in your mind? Fanta is here to find it for you - like a sale specialist in a retail store.	</p>
						<!-- <a href="#" id = "get_start" class="btn btn-default btn-xl">Get Started!</a> -->
						<div id = "my_search">
						<form action="{% url 'search' %}" method = "post">
							{% csrf_token %}
							<br>
							<textarea class="form_text" type="text" name="search" id="search" value="{{ search_key }}" placeholder="Describe in the way you like. Any-way, we can find it!"></textarea>
							<br><input class = "form_button" type="submit" value="Search"/>
						</form>
						<div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
<!-- /.container -->

